<!DOCTYPE html>
<html>
  <head>
    <title>Mapper</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css'>
    <link rel='stylesheet' href='/stylesheets/app.css'>
  </head>
  <body>
    <div class='ui fixed inverted menu'>
      <div class='ui container'>
        <div class='header item'>
            <a href='/'><i class='cube icon logo'></a></i>
        </div>
        <a class='item'>Entertainment</a>
        <a class='item'>Get the Gang</a>
        <div class='right menu'>
          <a class='item'>Sign Up</a>
          <a class='item'>Login</a>
        </div>
      </div>
    </div>
