<% include ./partials/header %>

<div class='ui container main'>
  <h1>Maps Page</h1>
  <div class='ui grid contianer'>

    <div class='eleven wide column map'>
      <div id='map'></div>
    </div>

    <div class='five wide column'>
      <div class='ui horizontal divider'>
        Add Friends
      </div>
      <div class="ui buttons locator">
        <%# <form class='subtle' method='get' action='/maps/true'> %>
          <button class="ui teal button geo locateButton">
            <i class="marker icon"></i>Locate
          </button>
        <%# </form> %>
        <div class="or"></div>
        <button class="ui grey button search">Search</button>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" src='/js/maps.js'></script>
<script async defer id='initialMap'
  src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB51zd59N_pPiw_Qlpz1rIj-ysc4nG02no&callback=initMap'>
</script>

<% include ./partials/footer %>
