<% include ./partials/header %>

<div class='ui container main'>
  <h1>Maps Page</h1>
  <div class='ui container map'>
    <div id='map'></div>
  <div>
</div>


<script>
  var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 51.5007, lng: -0.12406},
        zoom: 11
      });
    }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB51zd59N_pPiw_Qlpz1rIj-ysc4nG02no&callback=initMap">
</script>

<% include ./partials/footer %>
