<% include ./partials/header %>

<div class='ui container main'>
  <h1>This is the landing page</h1>
  <a href='/maps/false' class="ui blue basic button">Maps</a>
</div>

<% include ./partials/footer %>
