body , .ui.menu , .ui.button , h1 {
  font-family: 'Roboto';
  font-weight: 400;
  background: rgb(251, 255, 254);
}

body {
  height: 100%;
  overflow: hidden;
}

.container.main {
  margin-top: 8%;
  height: 100%;
}

i.icon.logo {
  font-size: 1.5em;
  margin: 0em 0.32em;
}

.logo__text {
  font-size: 1.6em;
  font-family: 'Oleo Script Swash Caps', 'cursive';
  font-weight: 400;
}

.grid {
  height: 83.5%;
}

.container.map {
  width: 100%;
  height: 100%;
  /* float: left; */
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.ui.divider {
  font-size: 1.2em;
}

.locatorParent {
  height: 85%;
}

div.ui.locator {
  width: 80%;
  margin: 5% 10%;
}

.ui.buttons button.geo {
  width: 62%;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  margin-right: 0.2rem;
}

button.search {
  width: 38%;
}

#autocomplete {
  text-align: center;
  border-color: #4FB2AC;
}

.ui.hidden {
  display: none;
}

.friendHolder {
  height: 4.3em;
}

.ui.card .avatar img, .ui.card img.avatar, .ui.cards>.card .avatar img, .ui.cards>.card img.avatar {
  height: 2.5em;
  width: 2.5em;
  /* margin-right: 5px; */
}

.ui.addressDiv {
  float: right;
  width: 78%;
}

.address {
  display: inline-flex;
  vertical-align: middle;
}

.funFinder {
  width: 100%;
}

.funPlaceIcon {
  height: 3em;
}

.ui.black.message {
  z-index: 1;
  bottom: 23%;
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  display: flex;
  min-width: min-content;
  background-color: #323232;
  color: rgb(251, 255, 254);
}

.ui.message p.toastMessage {
  margin: auto;
  margin-left: 2px;
}

.ui.message > .toastButton {
  background: none;
  border: none;
  color: #FF5252;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
  margin: auto 1px;
}

.ui.shrink {
  width: 2%;
  flex: none !important;
  min-width: 0%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

div.ui.formDiv {
  width: 47%;
}

.ui.horizontal.divider {
  margin-top: 7%;
}

.ui.formButtonDiv {
  margin-top: 7%;
  width: 320px;
}

.ui.button.formButton {
  width: 150px;
  margin: 0px 4px;
}
