img, embed, object, video {
  max-width: 100%;
}

body, .ui.button, h1 {
  font-family: 'Roboto';
  font-weight: 400;
}

body {
  height: 100%;
  overflow: hidden;
}

#landing-header {
  z-index: 1;
  position: relative; /* allows z-index to work */
  text-align: left;
  padding-top: 8vh;
  padding-left: 12vh;
}

#landing-header h1 {
  color: rgba(255,255,255,.9);
  font-family: 'Oleo Script Swash Caps', 'cursive';
  font-size: 3em;
}

.ui.teal.button.landingButton {
  width: 150px;
  margin-left: 3vh;
  color: rgba(255,255,255,.9);
}

.landing.image {
  height: 119%;
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: 0;
}
