.container.main {
  margin-top: 6.0em;
  height: 100%;
}

i.icon.logo {
  font-size: 1.5em;
  margin: 0em;
}

.container.map {
  width: 68%;
  height: 100%;
  float: left;
}

#map {
  height: 70%;
  width: 100%;
  border-radius: 4px;
}
