.container.main {
  margin-top: 7.0em;
  height: 100%;
}

h1 {
  margin-bottom: 0.7em;
}

i.icon.logo {
  font-size: 1.5em;
  margin: 0em 0.2em;
}

.grid {
  height: 70%;
}

.container.map {
  width: 100%;
  height: 100%;
  /* float: left; */
}

#map {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

div.ui.locator {
  width: 80%;
  margin: 5% 10%;
}

form.subtle {
  display: flex;
  width: 62%;
}

.ui.buttons form.subtle button.geo {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

button.search {
  width: 38%;
}
